body{
	background-image: linear-gradient(45deg,#9fbaa8,#31354c);
}
*{
	font-family: "monteserrat",sans-serif !important;
}
.my-padded-mini{
	padding: 0.2em !important;
}
.my-padded-tiny{
	padding: 0.3em !important;
}


.my-padded-tb-mini{
	padding-top: 0.2em !important;
	padding-bottom: 0.2em !important;
}
.my-padded-small{
	padding-top: 0.5em !important;
	padding-bottom:0.5em !important;
}
.my-padded-tb{
	padding-top: 1em !important;
	padding-bottom: 1em !important;
}
.my-padded-tb-large{
	padding-top: 2em !important;
	padding-bottom: 2em !important;
}
.my-padded-tb-big{
	padding-top: 3em !important;
	padding-bottom: 3em !important;
}
.my-padded-tb-huge{
	padding-top: 4em !important;
	padding-bottom: 4em !important;
}
.my-padded-massive {
	padding-top: 5em !important;
	padding-bottom: 5em !important;
}

.my-padded-lr-response{
	padding-left: 4em !important;
	padding-right: 4em !important;
}
/*=========text========*/
.my-text-thin{
	font-weight: 300em !important;
}

.my-text-spaced{
	letter-spacing: 1px !important;
}  
.my-text-lined{
	line-height: 1.8 !important;
}
.my-txt{
	background: #ffffff28 !important;
	border: 1px solid white !important;
	border-radius: 6px !important;
	width: 300px !important;
	color: white !important;
}

/*==========margin========*/
.my-margin{
	margin-top: 0.3em !important;
	margin-bottom: 0.3em !important;
}
.my-margin-top-small{
	margin-top: 0.5em !important;
}
.my-margin-top{
	margin-top: 1em !important;
}
.my-margin-top-large{
	margin-top: 2em !important;
}
/*============loginbtn=========*/
.login-btn{
	width: 300px !important;
	background:#2c3e50 !important;
	border: 0 !important;
	color: white !important;
	cursor: pointer;
	border-radius: 6px !important;
	padding: 10px !important;

}


/*========opacity============*/
.my-opacity-mini{
	opacity: 0.4 !important;
}
.my-text{
	font-weight: 300em !important;
	letter-spacing: 1px !important;
	line-height: 1.8 !important;
	font-family:Consolas !important;
}
/*===========display=============*/
.my-inline-block{
	display: inline-block;
}
/*==========container============*/
.my-container{
	max-width: 72em !important;
	margin: auto;
}
.my-container-samll{
	max-width: 60em !important;
	margin: auto;
}
/*========color============*/
.my-black{
	color: #333 !important;
}
.my-fontcolor{
	color: white !important;
	font-weight: 400 !important;
}
/*=========postistion========*/
.my-right-top{
	position: absolute;
	top: 25px;
	right:20px;
}
/*===========hide========*/
.my-mobile-show{
	display:none !important;
}
.my-margin-bottom-small{
	margin-bottom: 0.5em !important;
}
/*=======shadow=====*/
.my-shadow-small{
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4) !important;
   /* box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4) !important;*/
}


@media only screen and  (max-width: 768px){
	


	.my-mobile-hide{
		display:none !important;
	}
	.my-mobile-show{
		display:block !important;
	}
	.my-padded-lr-response{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.my-mobile-clear{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	  .my-mobile-wide {
        width: 100% !important;
    }
}


